# Set default behavior to handle all files as text and normalize to LF on commit
* text=auto eol=lf

# Explicitly declare text files that should always have LF
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Denote all files that are truly binary and or should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.exe binary
*.dll binary
