# Set default behavior to handle all files as text and normalize to CRLF on checkout
* text=auto eol=crlf

# Explicitly declare text files that should always have LF
*.js text eol=crlf
*.jsx text eol=crlf
*.ts text eol=crlf
*.tsx text eol=crlf
*.rs text eol=crlf
*.toml text eol=crlf
*.json text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.md text eol=crlf

# Denote all files that are truly binary and or should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.exe binary
*.dll binary
